
notification-service/target/
notification-service/pom.xml.tag
notification-service/pom.xml.releaseBackup
notification-service/pom.xml.versionsBackup
notification-service/pom.xml.next
notification-service/release.properties
notification-service/dependency-reduced-pom.xml
notification-service/buildNumber.properties
notification-service/.mvn/
notification-service/mvnw
notification-service/mvnw.cmd

notification-front/node_modules/
notification-front/dist/
notification-front/npm-debug.log
notification-front/yarn-debug.log
notification-front/yarn-error.log
notification-front/.angular/

*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.dump

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~
